@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');

* {
  font-family: 'Rubik';
}

.sfondo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.dark-overlay {
  height: 80vh;
  width: 100vw;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.logo {
  width: 35px;
  margin-left: 35px;
  margin-top: 25px;
  cursor: pointer;
  float: left;
}

.tasto-chiusura {
  float: right;
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: -75px;
  margin-right: -75px;
  box-shadow: 0 3px 22px rgba(0, 0, 0, 0.35);
}

.tasto-chiusura img {
  width: 17px;
  height: 17px;
  margin-top: 95px;
  margin-left: 38px;
  cursor: pointer;
}

.task-container {
  width: 350px;
  height: 100vh;
  background-color: white;
  padding: 35px;
  padding-top: 25px;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.15);
}

.addTodo {
  width: 235px;
  border: none;
  border-bottom: solid 2px rgba(255, 124, 107, 0.8);
  border-radius: 3px;
  color: white;
  padding: 4px;
  padding-left: 12px;
  transition: 0.4s;
  height: 30px;
}

.addTodo:focus {
  border-bottom: none;
  border-bottom: solid 2px rgba(255, 124, 107, 0.8);
  background-color: rgba(255, 124, 107, 0.8);
}

.buttonAddTodo {
  margin-bottom: 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  width: 30px;
  height: 30px;
}

.buttonAddTodo:hover {
  background-color: #ffdeda;
}

.buttonAddTodo img {
  width: 15px;
}

.modifica-task {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  transition: 0.15s;
}

.modifica-task:hover {
  background-color: #ffdeda;
}

.icona-modifica {
  width: 15px;
}

.chiudi-modifica-task {
  display: none;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  transition: 0.15s;
  margin-left: 5px;
}

.chiudi-modifica-task:hover {
  background-color: #ffdeda;
}

.salva-modifica-task {
  display: none;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  transition: 0.15s;
}

.salva-modifica-task:hover {
  background-color: #ffdeda;
}

.textarea-titolo {
  display: none;
  margin-top: 55px;
  margin-bottom: 20px;
  width: 275px;
  font-size: 25px;
  background-color:rgba(0, 0, 0, 0.06);
  border-width: 0;
  border-radius: 5px;
  padding: 4px;
  padding-left: 12px;
  resize: none;
  overflow: hidden;
  display: none;
  color: rgb(86, 86, 86);
}

.display {
  opacity: 1!important;
}

.display0 {
  opacity: 0;
}

.divOverlay {
  position: absolute;
  background-color: red;
  width: 281px;
  height: 59px;
}

.displaynone {
  display: none;
}

.chiusura-modifica img {
  width: 20px;
}

.task-container h1 {
  font-size: 25px;
  margin-bottom: 30px;
  margin-top: 55px;
  color: rgb(86, 86, 86);
}

.task-container h2 {
  color: #FF7D6C;
  margin-top: 5px;
}

.task-container h6 {
  color: #FF7D6C;
  font-size: 15px;
  margin-bottom: 10px;
}

.task-container .todo {
  padding: 5px;
  padding-left: 12px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 6px;
  margin-bottom: 4px;
  width: 69%;
  display: inline-block;
}

.todoCont {
  width: 100%;
}

.toDoContainer {
  height: 42vh;
  overflow-y: scroll;
  overflow-x: hidden;
  /* margin-left: -12px; */
}

::-webkit-scrollbar {
    display: none;
}

.edit-delete-todo {
  opacity: 0;
  transition: 0.15s;
  display: inline-block;
  float: right;
  margin-top: 7px;
  margin-left: 7px;
  cursor: pointer;
  border: solid 1px #FF7D6C;
  border-radius: 15px;
  width: 28px;
  height: 28px;
  padding-left: 8px;
}

.edit-delete-todo img {
  width: 10px;
}

.edit-delete-todo:hover {
  background-color: #ffdeda;
  border: solid 1px #ffdeda;
}

.todoCont:hover .edit-delete-todo {
  opacity: 1;
}

.close-save-todo {
  display: none;
  transition: 0.15s;
  /*display: inline-block;*/ /********** apparizione *************/
  float: right;
  margin-top: 7px;
  margin-left: 7px;
  cursor: pointer;
  background-color: #ff7d6ca6;
  border-radius: 15px;
  width: 26px;
  height: 26px;
  padding-left: 8px;
}

.close-save-todo img {
  width: 10px;
}

.close-save-todo:hover{
  background-color: #ff7d6c
}

.checkbox {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  /*border: solid 2px #FF7D6C;*/
  background-color: #ffdeda;
  display: inline-block;
  float: left;
  margin-top: 14px;
  cursor: pointer;
}

.checkimg {
  opacity: 0;
  margin-bottom: 10px;
  width: 11px;
  margin-left: 2px;
}

.barrato {
  text-decoration: line-through;
  /* text-decoration-color: #FF7D6C; */
}

.modifca-todo {
  margin-top: 8px;
  margin-bottom: 5px;
  width: 182px;
  margin-left: 10px;
  font-size: 15px;
  background-color: rgba(255, 124, 107, 0.8);
  border-width: 0;
  border-radius: 5px;
  padding: 4px;
  padding-left: 12px;
  resize: none;
  overflow: hidden;
  display: none;
  color: white;
}

input:focus, textarea:focus, select:focus {
    outline: 0px!important;
}

.nascondiElemento {
  display: none !important;
}

.mostraElemento {
  display: block !important;
}

.mostraElementoInline {
  display: inline-block !important;
}

.progressbar {
  margin-top: 30px;
  background-color: #FFD8D2;
  border-radius: 20px;
  margin-bottom: 20px;
}

.progress {
  background-color: #FF7D6C;
  height: 10px;
  border-radius: 20px;
  margin-left: inherit;
}

.bottone--task-container {
  background-color: white;
  margin-left: 150px;
  margin-top: 20px;
  width: 140px;
  height: 43px;
  border-radius: 20px;
  color: #FF7D6C;
  cursor: pointer;
  font-size: 21px;
}

button:focus {
    outline: 0px;
}
